.Card {
    --border-header: 1px solid #bbb;
    background-color: #ddd;
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 300px;
    box-sizing: border-box;
    border-radius: 24px;
    text-align: center;
}

.CardHeader {
    border-bottom: var(--border-header);
    padding: 10px 20px;
}

.CardBody {
    padding: 10px 20px;
    transition: all 1s;
}

.CardBody ul {
    margin: 0 !important; padding: 0 !important;
}

.CardBody li {
    margin: 5px 0;
}

.masInformacion {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.cardIcon{
    display: none;

}

.cardText{
    width: 100%;
}

@keyframes animacion-info {
    0%{
        transform: translateY(20px) translateX(-10px);
        opacity: 0;
    }
    50%{
        transform: translateY(-20px) translateX(10px);
        opacity: 1;
    }
    100%{
        transform: translateY(0) translateX(0);
        opacity: 1;
    } 
}

.itemVisible{

    animation: animacion-info 1s ease forwards;

}

@media screen and (max-width: 770px) {
    .masInformacion {
        flex-direction: column;
    }

    .Card {
        text-align: start;
        border-radius: 0;
        flex-grow: 0;
        flex-basis: min-content;
        min-height: auto;
        margin-top: 10px;
        border-radius: 10px;
    }

    .CardHeader:hover, .ActiveCard .CardHeader {
        background-color: var(--color-primario-oscuro);
        color: var(--color-primario-claro);
    }

    .CardHeader {
        border: var(--border-header);
        padding: 15px;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }

    .cardIcon{
        display: block;
        width: 5%;
        transform: rotateX(0deg);
        transition: transform 0.3s;
    }
    .cardText{
        width: 95%;
    }

    .CardBody {
        border-left: var(--border-header);
        border-right: var(--border-header);
        display: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        box-sizing: border-box;
    }

    @keyframes despliegue-carta {

        from{
            transform: translateY(-20px);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
        
    }
    .ActiveCard .CardBody {
        display: block;
        animation: despliegue-carta 1s ease forwards;
    }

    .ActiveCard .cardIcon{

        transform: rotateX(180deg);
        transition: transform 0.3s;

    }

}