@keyframes animacion-titulo {
    from{
        transform: translateX(-50px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.contInicio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    
}
.contImgInicio{
    
    position: relative;
    height: 300px;
    background: radial-gradient(circle, rgb(16, 21, 24, .5), 60%, transparent);

}

.inImg {
    width: 100%;
    object-fit: cover;
    z-index: -5;
    position: relative;
    height: 300px;
    }
.textInicio{
    position: absolute;
    top: 100px;
    color: var(--color-primario-claro);
    padding: 20px;
    z-index: 1;
    text-align: center;

    }

.textInicio h1{
    font-size: 5rem;
}

.textInicio p{
    font-size: 16pt;
}

.inImgOla{
    width: 100%;
    position: relative;
    bottom: 50px;
    height: 200px;
}

.tarjetas{
    display: none;
}

.centro{
    display: flex;
    width: 100%;
    justify-content: center;
}

.margin100{

    margin-top: 50px;
    margin-bottom: 50px;

}
@keyframes animacion-tarjetas {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width:430px) {
    .inImg{
        height: 580px;
    }
    .contImgInicio{
        height: 580px;
    }

    .tarjetas{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .tarjetasMb{
        display: none;
    }

    .tarjetasContenedor{

        display: flex;
        max-width: 1000px;

    }
    .textInicio{

        top: 250px;
        opacity: 0;
        animation: animacion-titulo 1s ease forwards;
        animation-delay: 0.3s;

        left: 40%;
    }
}
