.div-boton-cont{

    align-items: center;
    border: none;
    background-color: var(--color-secundario-brillante);
    color: var(--color-primario-oscuro);
    padding: 15px;
    border-radius: 10px;
}