:root{

    --color-primario-claro:#fff;
    --color-primario-oscuro:#101518;
    --color-secundario-brillante:#12B5B5;
    --color-secundario-opaco:#102528;
    --color-secundario-acromatico:#a7a7a7;
}