@keyframes animacion-esp {
    0%{
        transform: translateY(20px) translateX(-10px);
        opacity: 0;
    }
    50%{
        transform: translateY(-20px) translateX(10px);
        opacity: 1;
    }
    100%{
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
}
.contenedor-especialidades.active{
    animation: animacion-esp 1s ease forwards;

}

.contenedor-especialidades{

    display: flex;
    margin: 5px;
    align-items: center;
    flex-wrap: wrap;
    height: 291px;
    opacity: 0;
}

.especialidad{

    padding: 10px; 
    width: 49%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1px;
    border: var(--color-primario-oscuro) solid 3px;
    border-radius: 10px;
    transition: background-color 1s;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    color: var(--color-primario-oscuro);
}
.align{

    text-align: center;
    width: 100%;

}
.especialidades-titulo{
    text-align: center;
}

.especialidad:hover{
    background-color: var(--color-secundario-acromatico);
}
.especialidad:active{
    transition: background-color 0.1s;
    box-shadow: 1px 1px 5px 5px var(--color-secundario-brillante);
    background-color: var(--color-primario-oscuro);
    color: var(--color-primario-claro);
}
.noMargin{
    margin-bottom: 0px;
}
@media screen and (min-width: 430px){

    .contenedor-especialidades{

        flex-wrap: nowrap;

    }

    .especialidad{
        border: none;
    }

}